Xft.dpi:		96
Xft.antialias: 	true
Xft.hinting: 	true
Xft.rgba: 		rgb
Xft.autohint: 	false
Xft.hintstyle: 	hintslight
Xft.lcdfilter: 	lcddefault

#define base_material_foreground 		#dedede
#define base_material_dark_background 	#242424
#define base_material_light_background 	#333333
#define base_material_primary 			#315bef
#define base_material_warn       		#fc4138

*material_foreground: 		base_material_foreground
*material_light_background: base_material_light_background
*material_dark_background: 	base_material_dark_background
*material_primary: 	  		base_material_primary
*material_warn: 	  		base_material_warn

! Rofi Settings
rofi.width:			  50
rofi.fullscreen: 	  true
rofi.blur-background: true
rofi.location:		  0
rofi.terminal:		  alacritty
rofi.lines:			  10
rofi.eh:			  1
rofi.font:      	  SFNS Display 11
rofi.dpi:		      96
rofi.show-icons:      true
rofi.drun-icon-theme: Arc
